## Hitrate roughly decreases as the number of visits decrease. Majority of the variance occur when number of visits is small.
### *hitrate_leadcache*: hitrate of LeadCache algorithm (no fsm)
### *hitrate_iplc*: overall hitrate of iplc algorithm (no states are discarded)
### *Average hitrate*: hitrate of iplc algorithm where only the states with visits greater than *{cutoff}* are taken into account.

In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_rows', None)

from IPython.core.display import display, HTML

CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

# CMU Data

In [2]:
with pd.HDFStore('data/results/cmu_iplc_multifsm_u1_c1_t23203_d1_f300_10_23_22_59_00.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=50
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')
    # df1

metadata: {'users': 1, 'caches': 1, 'number of files': 300, 'cache size': 30, 'time': 23203, 'dataset': 'cmu', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.6125931991552817, 'hitrate_iplc': 0.45058828599750034}

Only states with at least 50 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.54

In [3]:
with pd.HDFStore('data/results/cmu_iplc_multifsm_u1_c1_t10000_d1_f1000_10_24_00_18_10.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=50
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')
    # df1

metadata: {'users': 1, 'caches': 1, 'number of files': 1000, 'cache size': 100, 'time': 10000, 'dataset': 'cmu', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.7282, 'hitrate_iplc': 0.586}

Only states with at least 50 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.672

In [4]:
with pd.HDFStore('data/results/cmu_iplc_multifsm_u15_c7_t1546_d8_f300_10_23_11_26_26.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=20
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')

    # for i in range(metadata['users']):
        # df1.loc[[i]]
    # df1

metadata: {'users': 15, 'caches': 7, 'number of files': 300, 'cache size': 30, 'time': 1546, 'dataset': 'cmu', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.6432082794307892, 'hitrate_iplc': 0.6057783527382492}

Only states with at least 20 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.621

In [5]:
with pd.HDFStore('data/results/cmu_iplc_multifsm_u30_c15_t500_d10_f300_2021_10_23_02_31_35.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=20
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')

    # for i in range(metadata['users']):
    #     df1.loc[[i]]
    # df1

metadata: {'users': 30, 'caches': 15, 'number of files': 300, 'cache size': 30, 'time': 500, 'dataset': 'ratings.dat', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.6212, 'hitrate_iplc': 0.574}

Only states with at least 20 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.577

# Ratings Data

In [2]:
with pd.HDFStore('data/results/ratings_iplc_multifsm_u1_c1_t82070_d1_f300_10_23_23_32_07.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=200
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')

    for i in range(metadata['users']):
        df1.loc[[i]]
    # df1

metadata: {'users': 1, 'caches': 1, 'number of files': 300, 'cache size': 30, 'time': 82070, 'dataset': 'ratings', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.4464725234555867, 'hitrate_iplc': 0.34455952235896187}

Only states with at least 200 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.435

                 visits   hits   hitrate
fsm state
0   epsilon       31860  13723  0.430728
    epsilon:253    1149    643  0.559617
    epsilon:106     938    482  0.513859
    epsilon:287     790    443  0.560759
    epsilon:0       744    407  0.547043
    epsilon:49      687    415  0.604076
    epsilon:33      648    317  0.489198
    epsilon:31      564    271  0.480496
    epsilon:216     532    248  0.466165
    epsilon:20      512    229  0.447266
    epsilon:38      512    218  0.425781
    epsilon:107     493    237  0.480730
    epsilon:144     483    243  0.503106
    epsilon:46      409    167  0.408313
    epsilon:10      392    155  0.395408
    epsilon:35      379    192  0.506596
    epsilon:24      369    194  0.525745
    epsilon:228     359    137  0.381616
    epsilon:68      355    132  0.371831
    epsilon:284     338    159  0.470414
    epsilon:5       324    146  0.450617
    epsilon:258     318    145  0.455975
    epsilon:159     309    127  0.411003
    epsilon:9       309    124  0.401294
    epsilon:16      303    159  0.524752
    epsilon:147     300     81  0.270000
    epsilon:283     285    107  0.375439
    epsilon:279     284    117  0.411972
    epsilon:259     283     79  0.279152
    epsilon:15      281     82  0.291815
    epsilon:246     280    101  0.360714
    epsilon:1       276     95  0.344203
    epsilon:239     274    129  0.470803
    epsilon:291     271    105  0.387454
    epsilon:101     266     90  0.338346
    epsilon:155     264    101  0.382576
    epsilon:224     259     79  0.305019
    epsilon:202     256    101  0.394531
    epsilon:92      253    104  0.411067
    epsilon:23      252     90  0.357143
    epsilon:136     238     80  0.336134
    epsilon:179     231     83  0.359307
    epsilon:154     226     74  0.327434
    epsilon:192     221     91  0.411765
    epsilon:167     215     86  0.400000
    epsilon:145     213     59  0.276995
    epsilon:190     213     93  0.436620
    epsilon:108     210     74  0.352381
    epsilon:60      209     64  0.306220
    epsilon:156     203     86  0.423645
    epsilon:44      200     69  0.345000
    epsilon:2       200     36  0.180000

In [4]:
with pd.HDFStore('data/results/ratings_iplc_multifsm_u10_c4_t8207_d6_f300_10_23_13_39_31.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=100
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')

    for i in range(metadata['users']):
        df1.loc[[i]]
    # df1

metadata: {'users': 10, 'caches': 4, 'number of files': 300, 'cache size': 30, 'time': 8207, 'dataset': 'ratings', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.533739490678689, 'hitrate_iplc': 0.5064091629097113}

Only states with at least 100 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.539

                 visits  hits   hitrate
fsm state
0   epsilon        3922  2031  0.517848
    epsilon:253     145    59  0.406897
    epsilon:0       118    51  0.432203
    epsilon:106     113    51  0.451327
    epsilon:287     102    33  0.323529

                 visits  hits   hitrate
fsm state
1   epsilon        3940  1980  0.502538
    epsilon:253     129    58  0.449612
    epsilon:106     127    55  0.433071
    epsilon:287     111    52  0.468468

                 visits  hits   hitrate
fsm state
2   epsilon        3937  2440  0.619761
    epsilon:253     143    79  0.552448
    epsilon:106     127    68  0.535433
    epsilon:287     105    58  0.552381
    epsilon:49      100    61  0.610000

                 visits  hits   hitrate
fsm state
3   epsilon        3911  1915  0.489645
    epsilon:253     127    59  0.464567
    epsilon:106     117    50  0.427350

                 visits  hits   hitrate
fsm state
4   epsilon        3920  2842  0.725000
    epsilon:253     148   100  0.675676
    epsilon:0       124    86  0.693548
    epsilon:106     117    87  0.743590
    epsilon:287     106    73  0.688679

                 visits  hits   hitrate
fsm state
5   epsilon        3941  2008  0.509515
    epsilon:253     138    61  0.442029
    epsilon:106     104    55  0.528846

                 visits  hits   hitrate
fsm state
6   epsilon        3935  2425  0.616264
    epsilon:253     142    93  0.654930
    epsilon:106     116    79  0.681034
    epsilon:0       102    58  0.568627

                 visits  hits   hitrate
fsm state
7   epsilon        3946  1884  0.477446
    epsilon:253     144    63  0.437500
    epsilon:106     124    53  0.427419
    epsilon:287     102    41  0.401961

                 visits  hits   hitrate
fsm state
8   epsilon        3940  1926  0.488832
    epsilon:253     128    65  0.507812
    epsilon:106     121    54  0.446281
    epsilon:287     105    41  0.390476
    epsilon:0       103    55  0.533981

                 visits  hits   hitrate
fsm state
9   epsilon        3943  1883  0.477555
    epsilon:253     143    59  0.412587
    epsilon:287     118    48  0.406780
    epsilon:106     102    38  0.372549
    epsilon:49      101    39  0.386139
    epsilon:0       100    51  0.510000

In [5]:
with pd.HDFStore('data/results/ratings_iplc_multifsm_u15_c7_t5471_d8_f300_10_23_20_22_04.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=100
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')

    for i in range(metadata['users']):
        df1.loc[[i]]
    # df1

metadata: {'users': 15, 'caches': 7, 'number of files': 300, 'cache size': 30, 'time': 5471, 'dataset': 'ratings', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.6082617437397185, 'hitrate_iplc': 0.5736550295497471}

Only states with at least 100 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.605

             visits  hits  hitrate
fsm state
0   epsilon    2714  1292  0.47605

                 visits  hits   hitrate
fsm state
1   epsilon        2714  1695  0.624539
    epsilon:253     115    63  0.547826

                 visits  hits   hitrate
fsm state
2   epsilon        2702  1915  0.708734
    epsilon:253     111    84  0.756757

             visits  hits   hitrate
fsm state
3   epsilon    2715  1918  0.706446

                 visits  hits   hitrate
fsm state
4   epsilon        2708  1702  0.628508
    epsilon:253     112    69  0.616071

             visits  hits   hitrate
fsm state
5   epsilon    2712  1743  0.642699

                 visits  hits   hitrate
fsm state
6   epsilon        2695  1741  0.646011
    epsilon:253     108    61  0.564815

                 visits  hits   hitrate
fsm state
7   epsilon        2713  1817  0.669738
    epsilon:253     115    87  0.756522

                 visits  hits   hitrate
fsm state
8   epsilon        2704  1180  0.436391
    epsilon:253     104    34  0.326923

             visits  hits   hitrate
fsm state
9   epsilon    2716  1284  0.472754

             visits  hits   hitrate
fsm state
10  epsilon    2703  1913  0.707732

             visits  hits   hitrate
fsm state
11  epsilon    2703  1545  0.571587

             visits  hits  hitrate
fsm state
12  epsilon    2727  1632  0.59846

                 visits  hits   hitrate
fsm state
13  epsilon        2706  1520  0.561715
    epsilon:253     110    55  0.500000

             visits  hits  hitrate
fsm state
14  epsilon    2704  1688  0.62426

In [99]:
with pd.HDFStore('data/results/ratings_iplc_multifsm_u30_c15_t500_d10_f300_10_23_22_29_06.h5') as storage:
    df = storage['df']
    metadata = storage.get_storer('df').attrs.metadata
    _ = metadata.pop('network_graph')
    _ = metadata.pop('data_description')

    cutoff=10
    df1 = df.drop(df[df['visits'] < cutoff].index)
    hitrate_filtered=df1['hits'].sum()/df1['visits'].sum()
    df1.sort_values(by=['fsm','visits'], inplace=True, ascending=[True,False])

    print(f'metadata: {metadata}\n')
    print(f'Only states with at least {cutoff} visits are considered.')
    print(f'Sorted in desc orderd of visits. \nAverage hitrate: {hitrate_filtered:0.3}')

    for i in range(metadata['users']):
        df1.loc[[i]]
    # df1

metadata: {'users': 30, 'caches': 15, 'number of files': 300, 'cache size': 30, 'time': 500, 'dataset': 'ratings', 'algo': 'iplc_multiple_fsm', 'hitrate_leadcache': 0.564, 'hitrate_iplc': 0.5322666666666667}

Only states with at least 10 visits are considered.
Sorted in desc orderd of visits.
Average hitrate: 0.537

                 visits  hits   hitrate
fsm state
0   epsilon         310   141  0.454839
    epsilon:253      11     5  0.454545

                 visits  hits   hitrate
fsm state
1   epsilon         316   127  0.401899
    epsilon:106      17     8  0.470588
    epsilon:253      12     9  0.750000

                 visits  hits   hitrate
fsm state
2   epsilon         310   200  0.645161
    epsilon:287      15    12  0.800000
    epsilon:0        14    11  0.785714
    epsilon:253      13     9  0.692308

                 visits  hits   hitrate
fsm state
3   epsilon         317   160  0.504732
    epsilon:253      10     4  0.400000

                 visits  hits   hitrate
fsm state
4   epsilon         314   214  0.681529
    epsilon:253      17    14  0.823529

                 visits  hits   hitrate
fsm state
5   epsilon         313   168  0.536741
    epsilon:287      10     8  0.800000

             visits  hits   hitrate
fsm state
6   epsilon     309   151  0.488673

                 visits  hits   hitrate
fsm state
7   epsilon         312   169  0.541667
    epsilon:253      17     7  0.411765

                 visits  hits   hitrate
fsm state
8   epsilon         317   149  0.470032
    epsilon:253      17    11  0.647059
    epsilon:0        16     6  0.375000

                 visits  hits   hitrate
fsm state
9   epsilon         315   168  0.533333
    epsilon:253      15     6  0.400000
    epsilon:106      12     7  0.583333

                 visits  hits   hitrate
fsm state
10  epsilon         315   149  0.473016
    epsilon:106      12     7  0.583333

                 visits  hits   hitrate
fsm state
11  epsilon         314   178  0.566879
    epsilon:253      13     9  0.692308

                 visits  hits   hitrate
fsm state
12  epsilon         310   187  0.603226
    epsilon:287      15    11  0.733333
    epsilon:253      12     8  0.666667
    epsilon:106      11     7  0.636364

                 visits  hits   hitrate
fsm state
13  epsilon         318   110  0.345912
    epsilon:106      10     4  0.400000

             visits  hits  hitrate
fsm state
14  epsilon     318   129  0.40566

                 visits  hits   hitrate
fsm state
15  epsilon         316   143  0.452532
    epsilon:287      10     5  0.500000

                 visits  hits   hitrate
fsm state
16  epsilon         307   145  0.472313
    epsilon:106      12     7  0.583333

                 visits  hits   hitrate
fsm state
17  epsilon         314   224  0.713376
    epsilon:253      13     8  0.615385

             visits  hits  hitrate
fsm state
18  epsilon     320   126  0.39375

                 visits  hits   hitrate
fsm state
19  epsilon         311   193  0.620579
    epsilon:253      12     6  0.500000
    epsilon:287      10     5  0.500000

                 visits  hits   hitrate
fsm state
20  epsilon         318   170  0.534591
    epsilon:253      13     7  0.538462
    epsilon:0        13     9  0.692308

             visits  hits   hitrate
fsm state
21  epsilon     312   152  0.487179

                 visits  hits   hitrate
fsm state
22  epsilon         315   245  0.777778
    epsilon:253      13    10  0.769231
    epsilon:287      12     9  0.750000
    epsilon:31       10     8  0.800000

             visits  hits   hitrate
fsm state
23  epsilon     312   141  0.451923

                 visits  hits   hitrate
fsm state
24  epsilon         311   156  0.501608
    epsilon:106      12     8  0.666667
    epsilon:38       11     4  0.363636

               visits  hits   hitrate
fsm state
25  epsilon       315   201  0.638095
    epsilon:0      11     4  0.363636

                 visits  hits   hitrate
fsm state
26  epsilon         317   201  0.634069
    epsilon:106      11    10  0.909091
    epsilon:31       10     5  0.500000

                 visits  hits   hitrate
fsm state
27  epsilon         316   196  0.620253
    epsilon:253      12     8  0.666667
    epsilon:287      11     5  0.454545
    epsilon:106      10     7  0.700000

                 visits  hits   hitrate
fsm state
28  epsilon         312   138  0.442308
    epsilon:287      13     2  0.153846
    epsilon:253      12     5  0.416667

                 visits  hits   hitrate
fsm state
29  epsilon         312   199  0.637821
    epsilon:287      10     5  0.500000